{% extends 'base.html' %}
{% load account socialaccount %}
{% load helpers %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Sign In</h1>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>Please sign in with
      {% for provider in socialaccount_providers %}
        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} pure-button"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          <i class="fa fa-{{ provider.name|lower }}"></i>
          {{provider.name}}</a>{% include 'includes/comma.html' %}
      {% endfor %}
      warning, your username will be your google name
    </p>
    <p>Or, <a class="pure-button pure-button-primary" href="{{ signup_url }}">sign up</a>
      for a {{ site.name }} account and click <a class="pure-button pure-button-primary" href="javascript:show_login()">sign in</a></p>
  {% else %}
    <p>If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.</p>
  {% endif %}
  <form method="post" class="pure-form pure-form-aligned" id="login-form">
    {% csrf_token %}
    <fieldset>
      <legend>Login using username</legend>
      {% for field in form %}
        <div class="pure-control-group">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
        </div>
      {% endfor %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Login</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
