{% extends "account/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <h1>Change Password</h1>

  <form method="post" action="{% url 'account_change_password' %}" class="pure-form pure-form-aligned">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
        <div class="pure-control-group">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
        </div>
      {% endfor %}
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Change Password</button>
      </div>
    </fieldset>
  </form>
{% endblock %}