{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load tracking %}
{% load cache %}

{% block title %}Showing issues for {{ comic.title }}{% endblock %}

{% block content %}
  <div class="comic-info">
    <h2>{{ comic.title }} ({{ comic.run }})</h2>
    <span class="extra-info">
      {% if comic.scraped %}
        Refreshed {{ comic.refreshed_at|naturaltime }}
      {% endif %}
      <a href="{% url 'listing:refresh_issues' comic.id %}">refresh now</a>
      | <a href="{{ comic.url }}">{{ comic.title }} on marvel.com</a>
    </span>
    {% if request.user.is_authenticated %}
      <br>
      <small>The <span class="yes">✓</span> and <span class="no">✗</span> denote if you have read the issue yet. click
        <a href="{% url 'extras:mark_all_issues_read' comic.id %}">here</a> to mark all issues as read.</small>
    {% endif %}
  </div>
  {% if issues|length_is:"0" %}
    {% if comic.scraped %}
      <p>{{ comic.title }} has been scraped but hasn't returned any results, this likely means that there aren't any marvel unlimited issues available.</p>
    {% else %}
      <h3>Please click the refresh button above to scrape the marvel.com website</h3>
    {% endif %}
  {% else %}
    {% cache 7200 issue-list comic %}
    <ul>
      {% for issue in issues %}
        <li class="issue">
          <div class="issue-info">
            {% if request.user.is_authenticated %}
              <span class="read-status {{ issue|was_read_by:request.user|yesno }}">{{ issue|was_read_by:request.user|yesno:"✓,✗" }}</span>
            {% endif %}
            {{ issue.title }}
            {% include 'includes/issue.html' with issue=issue text="Read now" %}
          </div>
          {% if issue.creator_set.all %}
            <div class="issue-creators">
              Creators:
              {% for creator in issue.creator_set.all %}
                <a href="{% url 'listing:creator' creator.id %}">{{ creator.name }}</a>{% include 'includes/comma.html' %}
              {% endfor %}
            </div>
          {% else %}
            <div class="issue-creators">no creators on marvel.com</div>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endcache %}
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{% static 'listing/track.js' %}"></script>
{% endblock %}
