{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load cache %}

{% block title %}Showing issues for {{ comic.title }}{% endblock %}

{% block content %}
  <div class="comic-info">
    <h2>{{ comic.title }} ({{ comic.run }})</h2>
    <span class="extra-info">
      {% if comic.scraped %}
        Refreshed {{ comic.refreshed_at|naturaltime }}
      {% endif %}
      <a href="{% url 'listing:refresh_issues' comic.id %}">refresh now</a>
      | <a href="{{ comic.url }}">{{ comic.title }} on marvel.com</a>
    </span>
    {% if request.user.is_authenticated %}
      <br>
      <small>The <span class="yes">✓</span> and <span class="no">✗</span> denote if you have read the issue yet. click
        <a href="{% url 'extras:mark_all_issues_read' comic.id %}">here</a> to mark all issues as read.</small>
    {% endif %}
  </div>
  {% if issues|length_is:"0" %}
    {% if comic.scraped %}
      <p>{{ comic.title }} has been scraped but hasn't returned any results, this likely means that there aren't any marvel unlimited issues available.</p>
    {% else %}
      <h3>Please click the refresh button above to scrape the marvel.com website</h3>
    {% endif %}
  {% else %}
    {% if not recent %}
      {% include 'includes/issue-list.html' with issues=issues %}
    {% else %}
      {# Cache this for two hours #}
      {% cache 7200 issue-list comic %}
        {% include 'includes/issue-list.html' with issues=issues %}
      {% endcache %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{% static 'listing/track.js' %}"></script>
{% endblock %}
