{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Showing {{ issue.title }}{% endblock %}

{% block content %}
  <h2>{{ issue.title }}</h2>
  <h4>Series: <a href="{% url 'listing:comic' issue.comic.id %}">{{ issue.comic.title }}</a></h4>
  <ul>
    {% for creator in issue.creator_set.all %}
      <li><a href="{% url 'listing:creator' creator.id %}">{{ creator.name }}</a></li>
    {% endfor %}
  </ul>
  {% include 'includes/issue.html' with issue=issue text="Read now" %}
{% endblock %}

{% block script %}
  <script src="{% static 'listing/track.js' %}"></script>
{% endblock %}
