{% extends 'base.html' %}

{% block title %}Showing {{ issue.title }}{% endblock %}

{% block content %}
  <h2>{{ issue.title }}</h2>
  <h4>Series: <a href="{% url 'listing:comic' issue.comic.id %}">{{ issue.comic.title }}</a></h4>
  <ul>
    {% for creator in issue.creator_set.all %}
      <li><a href="{% url 'listing:creator' creator.id %}">{{ creator.name }}</a></li>
    {% endfor %}
  </ul>
  <a class="read-issue"
     target="_blank"
     href="{{ issue.link }}"
     data-comic="{{ comic.title }}"
     data-issue="{{ issue.title }}"
     data-num="{{ issue.num }}">Read now</a>
{% endblock %}

{% block script %}
  <script src="{% static 'listing/track.js' %}"></script>
{% endblock %}
