{% extends 'base.html' %}

{% block content %}
  <h2>Search</h2>
  <form>
    <label for="search">Search:</label>
    <input id="search" type="text" name="q" value="{{ query }}">
    <input type="submit" value="Search">
  </form>
  {% if results %}
    <h3>Found {{ results.count }} Result{{ results.count|pluralize }}</h3>
    {% for result in results %}
      {% if result.content_type == 'listing.comic' %}
        <li>
          <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }} ({{ result.object.run }})</a>
        </li>
      {% endif %}
      {% if result.content_type == 'listing.issue' %}
        <li>
          <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  {% else %}
    <h3>No results found</h3>
  {% endif %}
{% endblock %}