{% extends 'base.html' %}

{% block content %}
  <h2>Search</h2>
  <form method="get">
    <label for="search">Search:</label>
    <input id="search" type="text" name="q" value="{{ query }}">
    <input type="submit" value="Search">
  </form>
  {% if query %}
    <h3>Found {{ results.count }} Result{{ results.count|pluralize }}</h3>
    <ul>
    {% for result in results %}
      {% if result.content_type == 'listing.comic' %}
        <li>
          <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }} ({{ result.object.run }})</a>
        </li>
      {% endif %}
      {% if result.content_type == 'listing.issue' %}
        <li>
          <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
        </li>
      {% endif %}
    {% empty %}
      <p>No results found</p>
      <p>note: some superheroes have dashes in their names which can't be one name. spiderman should be spider-man or spider man</p>
    {% endfor %}
    </ul>
  {% else %}
    <p>Some search examples:</p>
    <ul>
      <li>search for <a href="?q=new+avengers+12"><code>new avengers 12</code></a> to search for a specific issue</li>
      <li>search for <a href="?q=x+men+scraped:true"><code>x men scraped:true</code></a> to search for all comics that contain the words x and men that have been scraped</li>
      <li>search for <a href="?q=spider+-man"><code>spider -man</code></a> to search for all comics that have the word spider but not man in them</li>
      <li>add <code>type:comic</code> to your query to only search for comics</li>
      <li>add <code>type:issue</code> to your query to only search for issues</li>
      <li>add <code>scraped:true</code> to your query to get comics that have been scraped</li>
      <li>add <code>start:1990</code> to your query to get comics that started in 1990</li>
      <li>add <code>end:2000</code> to your query to get comics that ended in 2000</li>
      <li>add <code>start:>2010</code> to your query to get comics started after 2010</li>
      <li>add <code>start:<=1990</code> to your query to get comics started before or in 1990</li>
    </ul>
  {% endif %}
{% endblock %}