{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Editing {{ playlist.title }}{% endblock %}

{% block content %}
{#  <h1>Editing {{ playlist.title }}</h1>#}
{#  <form class="pure-form pure-form-aligned" id="search-form">#}
{#    {% csrf_token %}#}
{#    <fieldset>#}
{#      {% for field in form %}#}
{#        <div class="pure-control-group">#}
{#          {{ field.errors }}#}
{#          {{ field.label_tag }}#}
{#          {{ field }}#}
{#        </div>#}
{#      {% endfor %}#}
{#      <div class="pure-control-group">#}
{#        <label for="issue-search">add issues to playlist: </label>#}
{#        <input type="text" id="issue-search" placeholder="search issues (use specific numbers)" size="30">#}
{#      </div>#}
{#    </fieldset>#}
{#  </form>#}
{#  <ul class="selected-items"></ul>#}
{#  <ul class="results"></ul>#}
  {% verbatim %}
  <div id="playlist-app" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <form class="pure-form">
      <input v-model="q" debounce="250" placeholder="search for issues (use specific numbers)" size="30">
    </form>
    <p>{{ searchTerm }}</p>
    <ul>
      <li v-for="issue in searchResults">
        {{ issue.title }}
        <a href="#" v-on:click.prevent="addIssue(issue)">add</a>
      </li>
    </ul>

    <p>added issues (drag to re-order)</p>
    <ul v-droper="issues" >
      <li v-dragable v-for="issue in issues">
        {{ issue.title }}
        <a href="#" v-on:click.prevent="removeIssue($index)">remove</a>
      </li>
    </ul>
  </div>
  {% endverbatim %}
{% endblock %}

{% block script %}
  <script>
    window.items = JSON.parse("{{ items }}".replace(/&quot;/g, '"')).map(function(element) { return element.fields; })
  </script>
  <script src="{% static 'extras/jquery.js' %}"></script>
  <script src="{% static 'extras/vue.min.js' %}"></script>
  <script src="{% static 'extras/vue-sortable.js' %}"></script>
  <script src="{% static 'extras/playlist.js' %}"></script>
{% endblock %}