{% load staticfiles %}
{% load helpers %}

<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Marvel search{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'listing/pure-min.css' %}">
  <link rel="stylesheet" href="{% static 'listing/style.css' %}">
  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("3enenuYhPPK1EYPVGdQaE0LDf6bsDrDE");
      analytics.page()
    }}();
    {% block head %}{% endblock %}
  </script>
</head>
<body>
<div class="page">
  <div class="pagetitle">
    <div class="pure-menu pure-menu-horizontal">
      <a class="logo pure-menu-heading pure-menu-link" href="/">
        <img style="max-height:0.7em" src="{% static 'listing/nightcrawler.png' %}"/>
        Nightcrawler
      </a>
      {% with request.resolver_match.view_name as url %}
        <ul class="nav pure-menu-list">
          <li class="pure-menu-item {{ url|active_link:'listing:listing' }}"><a href="{% url 'listing:listing' %}" class="pure-menu-link">comics</a></li>
          <li class="pure-menu-item {{ url|active_link:'listing:synced' }}"><a href="{% url 'listing:synced' %}" class="pure-menu-link">synced</a></li>
          <li class="pure-menu-item {{ url|active_link:'listing:creators' }}"><a href="{% url 'listing:creators' %}" class="pure-menu-link">creators</a></li>
          <li class="pure-menu-item {{ url|active_link:'listing:search' }}"><a href="{% url 'listing:search' %}" class="pure-menu-link">search</a></li>
          {% if not request.user.is_authenticated %}
            <li class="pure-menu-item"><a href="{% url 'account_login' %}" class="pure-menu-link">login</a></li>
            <li class="pure-menu-item"><a href="{% url 'account_signup' %}" class="pure-menu-link">signup</a></li>
          {% else %}
            <li class="pure-menu-item"><a href="{% url 'extras:profile' request.user.id %}" class="pure-menu-link">profile</a></li>
            <li class="pure-menu-item"><a href="{% url 'account_logout' %}" class="pure-menu-link">logout</a></li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </div>
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {% block content %}{% endblock %}
</div>
{% block script %}{% endblock %}
{#<script src="{% static 'listing/pure.js' %}"></script>#}
</body>
