html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('/static/listing/background.jpg');
}

.logo {
  color: black;
  text-decoration: none;
}

.logo:visited {
  color: black;
}

.pagetitle {
  border-bottom: 1px solid #607d8b;
  padding-bottom: 2px;
  font-size: 1em;
}

.pagetitle h1 {
  display: inline;
}

h2.title {
  font-size: 1.2em;
}

.page {
  color: rgba(0,0,0,0.87);
  background-color: white;
  width: 45em;
  margin: 2em auto;
  min-height: 15em;
  padding: 0.8em;
  border-radius: 5px;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2), 0 40px 77px 0 rgba(0,0,0,0.22);
}

.titles {
  list-style: none;
  margin: 0;
  padding: 0;
}

.titles li {
  margin: 0.8em 1.2em;
  margin: 0 1.2em;
}

.titles li h2 {
  margin-left: -1em;
  margin-bottom: 0;
}

.yes {
  color: green;
}

.no {
  color: red;
}

.comic-info {
  border-bottom: 1px solid #607d8b;
}

.comic-info a {
  text-decoration: none;
}

li.issue {
  margin-bottom: 10px;
  border-bottom: 1px solid #607d8b;
  width: 70%;
}

li.issue a {
  text-decoration: none;
}

.message {
  margin-top: 1em;
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 3px;
  background: #ccc;
}

.message.success {
  background-color: rgb(83, 180, 79);
  color: #fff;
}

.message.info {
  background-color: rgb(209, 235, 238);
  color: rgb(102, 131, 145);
}

.message.error {
  background-color: #D13C38;
  color: #fff;
}

.message.warning {
  background-color: rgb(250, 191, 103);
  color: rgb(151, 96, 13);
}
