<!doctype html>
<head>
  <title>Marvel search</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        analytics.load("3enenuYhPPK1EYPVGdQaE0LDf6bsDrDE");
        analytics.page()
}}();
  </script>
</head>
<body>
  <div class=page>
    <div class="pagetitle">
      <h1><a class="logo" href="/">
        <img style="max-height: 0.7em" src="/static/nightcrawler.png"/>
        Nightcrawler
      </a></h1>
      <ul class="nav">
        <li{% if request.path == "/titles" %} class="active"{% endif %}><a href="/titles">titles</a></li>
        <li{% if request.path == "/synced" %} class="active"{% endif %}><a href="/synced">synced</a></li>
        <li{% if request.path == "/search" %} class="active"{% endif %}><a href="/search">search</a></li>
      </ul>
    </div>
    {% block body %}{% endblock %}
  </div>
</body>
