{% extends "layout.html" %}

{% block body %}
  <div class="info">
    <h2>{{ title.title }}
      ({{ title.start }}{% if title.end != -1 %} - {{ title.end|parseyear }}{% endif %})
    </h2>

    Refreshed {{ title.refreshed_at|naturaltime }} <a href="/refresh/issues/{{title.id}}">refresh now</a> |
    <a href="{{ get_url({'title': title.title, 'id': title.id}) }}">{{ title.title }} on marvel.com</a>
  </div>
  {% if issues|length == 0 %}
    {% if title.scraped %}
      <p>{{ title.title }} has been scraped but hasn't returned any results, this likely means that there aren't any marvel unlimited issues available.</p>
    {% else %}
      <h3>Please click the refresh button above to scrape the marvel.com website</h3>
    {% endif %}
  {% else %}
    <ul>
      {% for issue in issues %}
        <li><a class="marvel-issue" href="{{ issue.link }}" data-comic="{{ title.title }}" data-issue="{{ issue.title }}" data-num="{{ issue.num }}">{{ issue.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='track.js') }}"></script>
{% endblock %}
